#clock
set_io  clk         21

#LED
set_io  led[0]      96
set_io  led[1]      99
set_io  led[2]      98
set_io  led[3]      97
set_io  doneSig     95

#input
set_io  rstInput    78
set_io  goInput     79

